* {

}

.layoutHeader {
    width: 1849px;
    height: 100px;
    background-color: gray;
    border: 2px solid;
}

.layoutFilter {
    margin-top: 20px;
    width: 500px;
    min-height: 605px;
    background-color: gray;
    border: 2px solid;
}

.layoutSearch {
    margin-top: 20px;
    margin-left: 20px;
    width: 1100px;
    height: 30px;
    background-color: gray;
    border: 2px solid;
}

.layoutProduct {
    margin-top: 20px;
    margin-left: 20px;
    width: 1160px;
    min-height: 580px;
    background-color: gray;
}

.product {
    margin-bottom: 50px;
    margin-right: 30px;
    width: 252px;
    height: 252px;
    background-color: gray;
    border: 2px solid;
    display: inline-block;
}

.THIS .slds-button_brand {
    color:red;
}